.menu {
  height: calc(100% - 57px);
}

.profile,
.social-links,
.skills,
.preview .section-about,
.Home,
.profile,
.auth .login,
.auth .register {
  height: calc(100% - 64px);
}

.from-image {
  height: calc(100% - 40px);
}
